<%- include ("top"); -%>

<body class="headerspace">


    <header>
        <a href="/galerij"><div class="backicoon"></div></a>
        <h1 id="onderdeel">WonderSwan</h1>
    </header>

    <div class="<%= galerlijst[16].class %>" data-category="<%= galerlijst[16].dataCategory %>">
        <img class="thumb2" src="<%= galerlijst[16].afb %>" alt="Wonderswan van Bandai"></img>        
    </div>
    <div class="omschr">
        <h3 class="gamesh3">Geschiedenis</h3>
        <p>
            De WonderSwan is een handheld game console dat uitsluitend in Japan werd uitgebracht door Bandai. Het werd ontwikkeld door het bedrijf van Gunpei Yokoi die eerder inde industrie bekend was als de ontwerper van de originele Game Boy. De WonderSwan was het laatste stuk hardware dat Yokoi nog ontwikkelde voor zijn dood in 1997. Het toestel kwam in 1999 op de Japanse markt.
        </p>
        <h3 class="gamesh3">Kwaliteiten</h3>
        <p>
            Het heeft een 16-bit processor en is qua afmetingen zeer mobiel. Het gewicht van het toestel is slechts 110g en heeft daarentegen wonderbaarlijk genoeg een lange batterij levensduur van wel veertig uur. Tezamen met de lage prijs was het zeker een waardige concurrent t.o.v. de toenmalige Game Boy Color van Nintendo en SNK’s Neo Geo Pocket Color. In totaal zijn er zo wel 3,5 miljoen toestellen verkocht geweest.
        </p>
        <p>
            Later werden er verbeteringen aan toegevoegd zoals de implementatie van een kleurenscherm. Dat resulteerde in de WonderSwan Color en de Swan Crystal.
        </p>
        <h3 class="gamesh3">Spelen</h3>
        <p>
            De WonderSwan staat bekend voor zijn aanbod aan knoppen. Op het eerste zicht zorgt dat enkel voor vragen. Die worden dan op hun beurt beantwoord als men leert dat de WonderSwan op twee manieren kan worden vastgehouden. In portret- als in landschap-modus, verticaal en horizontaal.
        </p>
        <p>
            De handheld beschikt over een uniek aanbod aan games waaronder talrijke first-party-titels.  Anime games en derden met ondersteuning van verscheidene ontwikkelaars zoals Squaresoft, Namco, Capcom en Banpresto!
        </p>
    </div>

</body>


<%- include ("menu"); -%>